body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/*first section */
.header {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
}
.upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.lower {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.lower button {
    border: none;
    width: 70px;
    padding: 5px;

}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right {
    background-color: grey;
    color: white;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.honor {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subhonor {
    width: 500px;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

/* second sectio */
.informations {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 70px
}
.wrapper {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.title {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.imginfo {
    margin-left: 50px;
    border: 3px solid rgb(40, 127, 156);
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.info {
    max-width: 200px;
}

/* third section */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 50px 100px;
}

.main {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
    padding: 0 200px;
}

.quote .second {
    font-weight: 900;
    margin-right: 100px; 
}

/*section 4 */
.call {
    background-color: #3882F6;
    margin: 100px;
    padding: 50px;
    margin: 50px 200px;
    display: flex;
    justify-content: space-around;
    color: white;
    border-radius: 10px;
}

.first {
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    border: 1px white solid;
    border-radius: 5px;
    color: white;
}

.footer {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

.informations, .quote, .call {
    flex: 1;
}